<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h2>Log in</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-8">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-lg-12">
      <%= render "agents/shared/links" %>
    </div>
  </div>
</div>